data/raw/CBSvierkant100m_20002014_201410.dbf filter=lfs diff=lfs merge=lfs -text
data/raw/WijkBuurtkaart_2019_v1/** filter=lfs diff=lfs merge=lfs -text
data/raw/2019-CBS_VK500_2018_v1/** filter=lfs diff=lfs merge=lfs -text
